@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-homepage {
    color: #203d88;
    @apply absolute top-6 right-72 flex flex-row font-semibold;
  }

  div#zoomIn img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  div#zoomIn:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  .button-forum {
    background-color: #0c193a;
    @apply px-4 py-2 rounded-md text-white font-semibold tracking-wide cursor-pointer;
  }

  .h2-forum {
    color: #203d88;
    @apply font-semibold text-xl;
  }

  .section-shop {
    background-color: #0c193a;
    @apply p-4 rounded-full;
  }

  .procceed-payment {
    background-color: #5dbaad;
    @apply flex justify-center w-full px-10 py-3 mt-6 font-medium text-white uppercase rounded-full transition duration-500 ease-in-out shadow hover:bg-teal-200 text-[#0c193a];
  }
  
  .test {
    width: 17%;
  }
}
